body {

    background-color: rgb(205, 188, 221);
}

header {

    text-align: center;
} section {

    width: 200px;
    margin: auto;
    text-align: center
}

div{

margin: auto;
text-align: center;
}